<div class="hide">
  <div class="welcome-text"> <p><b>Coming soon!</b> Daily boutique deals up to 70% off. <br/> Enter your email to find out when we're live and get <b>10%</b> off your first order.</p></div>
  <div class="input-container" data-untorch-element="alert">
    <input input type="text" data-untorch-element="email" class ="full-input" ng-model="email"  placeholder="hello@boutive.com"></input>
    <div class="email-label">email</div>
  </div>
  <button data-untorch-element="submit" class="submit-button" ng-click="submit()">Submit</button>
</div>
